
.container {
  display: block;
  margin: 0px 100px;
  padding: 5px 20px 20px;
  height: 100vh;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;

  .col1 {
    width: 50%;
    font-family: 'Cormorant Garamond', monospace;
    padding: 0px 10px 10px 0px;
    line-height: 1.6rem;
    font-size: 1.3rem;
  }
  .col2 {
    width: 50%;
    text-align: right;
  }
}


